html,
body {
  padding: 0rem;
  margin: 0;
  font-family: Lobster, "Source Serif Pro", "Noto Serif JP","IBM Plex Serif", Assistant;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
