.headingip {
  font-size: 20px;
  font-family: Assistant;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0rem;
  margin: 0% 0 0 0;
  color: black;
  text-align: center;
}

.heading2Xl {
    font-size: 30px;
    font-family: Assistant;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0rem;
    margin: 0% 0%;
  }
  
  .headingXl {
    font-size: 20px;
    font-family: Assistant;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    font-family: Assistant;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-family: Assistant;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 300;
  }

  .linkMd {
    font-family: Assistant;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 300;
  }

  .linkMd:hover {
    font-weight: 400;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .grid {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 7%
    /* justify-content: center; */
    /* justify-items: center; */
    /* margin-top: -3%; */
  }

  .pgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0%
    /* justify-content: center; */
    /* justify-items: center; */
    /* margin-top: -3%; */
  }

  .aboutgrid {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 7%
    /* justify-content: center; */
    /* justify-items: center; */
    /* margin-top: -3%; */
  }


  .main {
    padding: 5% 15%;
    display: flex;
  }

  .mainproj {
    padding: 5% 20%;
    margin-bottom: 20%;
    display: flex;
  }


  .card{
    margin: 0% 25% 15% 0%;
  }

  .block{
    display: flex;
    justify-content: center;
  }

  .tab{
    text-indent: 7%;
  }


  .projectpar {
    font-family: Assistant;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 300;
    padding: 0 0 40px 0;
  }

  .backsign {
    font-family: Assistant;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 300;
    padding: 0 0 0 0;
  }

  .projecthead {
    font-family: Assistant;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 300;
  }

  .menu:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
.padding{
  padding-top: 20%;
}

.backarrow{
  font-size: 25px;
}

.centerdiv{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grow img{
    transition: 1s ease
}

.grow image:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  z-index: 1;
  }

  .gridim{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin-bottom: -20%;
    z-index: 1;
  }
  
  .img1{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 5;
  }
  
  .img1 image{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 5;
  }

  .img1:hover{
    height: 300%;
    display: block;
    transition-delay: 0.01s;
  }

  .img2{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 4;
  }
  
  .img2 image{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 4;
  }
  
  .img2:hover{
    height: 250%;
    display: block;
    transition-delay: 0.01s;
  }

  .img3{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 3;
  }
  
  .img3 image{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 3;
  }
  
  .img3:hover{
    height: 300%;
    display: block;
    transition-delay: 0.01s;
  }

  .img4{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 2;
  }
  
  .img4{
    position: relative;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-size: cover;
    transition: height 0.5s;
    z-index: 2;
  }
  
  .img4:hover{
    height: 300%;
    display: block;
    transition-delay: 0.01s;
  }


  .imdiv{
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    width: auto;
    height:auto;
    max-width: 60%;
    max-height: auto;
    margin: auto;
  }

  .gradmargin{
    margin-top: -80%;
  }

  .aboutmargin{
    margin-top: -20%;
  }